/.gradle/
/.idea/
/build/
/.nb-gradle/
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
/out/
/semesterprojekt-29.iml
/nbproject/private/
dist/README.TXT
dist/Kvartbog-1.semesterprojekt-2018.jar
/jfxrt.jar
*.jar
