.component {
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-width: 3;
}

#terminal {
    -fx-font-family: "Fira Code Retina", "Courier New";
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.background {
    -fx-background-image: url("file:resources/moon.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: auto;
    -fx-background-position: center center;
}

.text-area {
    -fx-background-color: rgba(0,0,0,0.3);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.buttonWithImage {
    -fx-background-image: url("file:resources/bat2.png");
    -fx-background-size: 65px;
    -fx-background-position: center;
    -fx-text-fill:#ffff00;
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
}
